
/* ------------------- Extra small devices (phones, 450px and down)-------------------  */
@media only screen and (min-width: 1px) and (max-width: 450px) {

  #header, #header *, #hero-social-links i, #video1 {
    visibility: hidden;
    top: -75px;
    bottom:0;
    position: absolute;
  }

  * h1, h2 {
    font-size: 3em !important;
  }

  #hero-text-row {
    background: url("../media/video-first-frame.webp");
    position: relative;
    display: block;
    margin: 0 auto;
    z-index: -1;
    overflow: hidden;
    background-position: top;
    background-size: 200vw 50vh;
    background-repeat: no-repeat;
  }

  #hero-text-div {
    position: relative;
    padding: 0;
    margin: 0;
    margin-top: 50vh;
    height:50vh;
    align-items: center;
    text-align: center;
    background-color: #2c2c2c;
  }
  
  #hero-text, #hero-text-accent, .hero-text-style h1 {
    padding: 10px;
    padding-bottom: 10px;
    font-weight: 500;    
    align-items: center;
    text-align: center;
    font-size: 3em !important;
  }

  #hero-text:first-child {
    text-decoration: underline 7px  #E0FF4F;
    color: #ffffff;
  }

  #try-us-button {
display: none;
  }

  #scroll-button, #scroll-button * {
    visibility: hidden;
    visibility: collapse;
  }

  #hero-address-link { 
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 10px;
    text-decoration: none;
  }

  #hero-address-link i {
    font-size: x-large;
    color: #E0FF4F;
    padding-bottom: 0;
  }

  #hero-address-link p {
    font-size: 1em;
    color: #E0FF4F;
    padding-bottom: 0;
    display:inline-block;
    margin-bottom: 0;
  }

  #gym-info {
    margin: 20px !important;
  }

  .banner-heading {
    padding: 0px 0px;
    text-align: center;
    font-size: 3em !important;
  }

  .info-card {
    height:100%;
    min-height: 175px;
    width: 90%;
    padding: 20px;
    margin: auto;
    }

    
  #gym-info * {
    text-align: center;
    margin: auto;
    }


    .pricing-card {
      display: block;
      margin: auto;
      margin-bottom: 50px;
      align-content: center;
      height: 350px !important;
      width: 80% !important;
    }
    #pricing {
      background-color: #ffffff;
      background-image: none;
      font-size: smaller !important;
    }

    .pricing-card-body {
      height: 200px !important;
      font-size: smaller;
    }

    .price-button-div button {
      bottom: -70px !important;
      scale: 80% !important;
      font-size: smaller !important;
      height:30px  !important;
      line-height: 10px !important;
    }
}

/*-------------------  Small devices (portrait tablets and large phones, 450px and up)-------------------  */
@media only screen and (min-width: 450px) and (max-width: 768px) {
  #header, #header * {
    visibility: hidden;
    top: -75px;
    bottom:0;
    position: absolute;
  }

  #hero-text-div {
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 25%;
  }

  #hero-text-div > h1, #hero-text-accent {
    padding: 30px;
    font-size: 5em;
    align-items: center;
    text-align: center;
  }

  #try-us-button {
    align-content: center;
    margin: auto;
    padding: 5px;
    z-index: 1000;
    margin-top: 50px !important;
    border-width: 7.5px !important;
  }

  #scroll-button, #scroll-button * {
    visibility: hidden;
    visibility: collapse;
  }

  #hero-social-links i {
    padding: 10px;
  }
 
  #video1 {
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
  }

  #gym-info {
    margin: 30px;
  }

  .banner-heading {
    padding: 0px 0px;
    text-align: center;
  }

  .info-card {
    height: 100%;
    min-height: 175px;
    width: 90%;
    padding: 20px;
    margin: auto;
    }

    
  .info-card * {
    text-align: center;
    }

    
    .pricing-card {
      display: block;
      margin: auto;
      margin-bottom: 50px;
      align-content: center;
      height: 350px !important;
      width: 80% !important;
    }

    #pricing {
      background-color: #ffffff;
      background-image: none;
    }

    .pricing-card {
      display: block;
      margin: auto;
      margin-bottom: 50px;
      align-content: center;
      height: 350px !important;
      width: 80% !important;
    }
    #pricing {
      background-color: #ffffff;
      background-image: none;
    }

    .pricing-card-body {
      height: 200px !important;
    }

    .price-button-div button {
      bottom: -75px !important;
    }

}

/*-------------------  Medium devices (landscape tablets, 768px and up)-------------------  */
@media only screen and (min-width: 768px) and (max-width: 992px) {

  #header-name, #dropdown-nav-div, #tag-line, #nav {
  visibility: hidden;
}

#hero-text-div h1, #hero-text-accent, #try-us-button {
  padding-top: 30px;
  font-size: 5em;
  margin-left: 100px;
}

#hero-text-div {
  padding: 0;
  margin: 0;
  margin-top: 25%;
}

#hero-social-links i {
  padding: 10px 10px 0px 10px ;
}

}

/*-------------------  Large devices (laptops/desktops, 992px and up) ------------------- */
@media only screen and (min-width: 992px) {

  #dropdown-nav-div {
    visibility: hidden;
  }

    
  #hero-text {
    margin-top: 150px;

  }

  #hero-text-div h1, #hero-text-accent, #try-us-button {
    padding-top: 30px;
    font-size: 6em;
    margin-left: 100px;
  }

}

/*------------------- Extra large devices (large laptops and desktops, 1200px and up) -------------------*/
@media only screen and (min-width: 1200px) {

  #dropdown-nav-div {
    visibility: hidden;
  }

  
  #hero-text {
    margin-top: 50px;
    margin-left: 100px;
  }

  #hero-text-div > h1, #hero-text-accent{
    font-size: 10em;
  }
}

@media only screen and (min-width: 1600px) {

  #dropdown-nav-div {
    visibility: hidden;
  }

  #hero-text {
    margin-top: 100px;
    margin-left: 150px;
  }

  #hero-text-div > h1, #hero-text-accent {
    font-size: 10em;
  }
}

/*------------------- General styles -------------------*/

* {
    border: 0;
}

.row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

  /*  Remove Scroll Bar Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar , *::-webkit-scrollbar-track, *::-webkit-scrollbar-thumb  {
    display: none;
  }

  /*------------------- Modal -------------------*/
  #successMessage {
    z-index: 100;
    margin: 0 auto ;
    width: 50%;
    align-self: center;
    left: 25%;
    position: fixed;
    margin-top: 100px;
    border: 5px #E0FF4F;
    text-align: center;
    font-weight: 500;
  }
  /*--------------------- Header Start ---------------------*/

header * {
  text-decoration: none;
}
#header-container {
  top: -54px;
  position: absolute;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 75px;
  line-height: 75px;
  background-color:#2c2c2c; 
  z-index: 1;
}

#dropdown-nav-div {
  position: fixed;
  top: 0;
  z-index: 100;
}

#header-logo i {
  color: #FF6663;
}

#header-logo-text * {
    text-align: left;
    font-weight: 500;
    margin-bottom: 0;
    font-size: 1.1em;
}

#header-name {
    line-height: 40px;
    font-style: oblique;
    text-transform: uppercase;
    color: white;
}
#tag-line {
    color: #E0FF4F;
}

.nav {
  display: inline;
  position: absolute;
  text-align: right;
  right: 10px;
}

.nav-item {
    text-decoration:none;
    display: inline;
    padding: 0 0.5rem;
}

.active {
  text-decoration: underline !important;
  color: #E0FF4F !important;
  background-color: #BFD7EA;
}

:target{
  scroll-margin-top: 75px;
}

.form-inline {
    padding: 0 1rem;
}

.sign-up-button {
  color: #ffffff;
}

.sign-up-button:hover {
    background-color: #FF6663 !important;
}

  /*--------------------- video and hero text ---------------------*/

#video1 {
  width: 100%;
  height: calc(100%);
  object-fit: cover;
  position: absolute;
  display: block;
  margin: 0 auto;
  z-index: -1;
  overflow: hidden;
}

#hero-text-div {
  padding: 2%;
  position: relative;
  top: 0;
}

#hero-text-row {
  top: 0;
  height: calc(100vh);
}

#try-us-button {
  background-color: transparent;
  color: #E0FF4F;
  border:#E0FF4F solid 7.5px;
  transform: skewX(-10deg);
  font-size: 1.1em;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1rem;
  padding: 10px 40px;
}

#scroll-button {
  position: absolute;
  bottom: 20px;
  left:45%;
  right: 55%;
  background: none;
  color: #ffffff;
  clear: both;
}

#scroll-button i {
  font-size: 5em;
  font-weight: 500;
}

.hero-text-style {
  color: white;
  font-weight: 500;
  font-stretch: expanded;
  text-shadow: none;
  text-align: left;
  text-transform: uppercase;
}

#hero-text {
  text-decoration: underline 14px  #E0FF4F;
  font-size: 3em;
  transform: skewX(-10deg);
}

#hero-text-accent {
    color:#FF6663;
        font-size: 3em;
        transform: skewX(-10deg);
}

#hero-social-links {
    position: absolute;
    bottom: 20px !important;
}

#hero-address-link { 
  right: 30px;
  position: absolute;
  bottom: 20px;
}

#hero-address-link > * {
  color: #E0FF4F;
  padding-bottom: 0;
  text-decoration: none;
}

#hero-address-link i {
  font-size: x-large;
}

#hero-address-link a, #hero-address-link p {
  font-size: 1em;
  display:inline-block;
  margin-bottom: 0;
}

/* ---------------------Gym information section--------------------- */

#gym-info {
  margin: 75px 30px 75px 30px;
  background-color: white;
  text-align: left;
}

.gym-info-text {
    margin: 30px;
}

#gym-info-heading-1 {
  text-align: center;
  padding: 30px;
}

#gym-info-card-container{
  right:30px
}

.banner-heading {
  padding: 30px 0px;
  font-size: 4em;
  font-weight: 500;
  font-stretch: expanded;
  text-shadow: none;
  text-align: left;
  font-style: oblique;
  text-transform: uppercase;
  text-decoration: underline 14px  #0B3954;
  text-underline-offset: 0.1em;
}

#top-left-card {
  height:inherit;
  transition: 0.4s;
  outline: 2px solid #2c2c2c;
  outline-offset: -1px;
}
#top-left-card:hover {
  background-color: #FF6663;
}
#top-left-card:hover i {
  background-color: #2c2c2c;
  color: #FF6663;
  padding: 5px;
} 
#top-left-card i{
  background-color: #ff6663;
  transition: 0.2s;
  border-radius: 15%;
  padding: 5px;
}

/* top right card */
#top-right-card {
  height:inherit;
  transition: 0.2s;
  outline: 2px solid #2c2c2c;
  outline-offset: -1px;
}
#top-right-card:hover {
  background-color: #BFD7EA;
} 
#top-right-card:hover i {
  background-color: #2c2c2c;
  color: #BFD7EA;
  padding: 5px;
} 
#top-right-card i{
  background-color: #BFD7EA;
  transition: 0.2s;
  border-radius: 15%;
  padding: 5px;
}
/* bottom left card */
#bottom-left-card {
  height:inherit;
  transition: 0.2s;
  outline: 2px solid #2c2c2c;
  outline-offset: -1px;
}
#bottom-left-card:hover {
  background-color: #0B3954;
  color: #ffffff;
}
#bottom-left-card:hover i {
  background-color: #ffffff;
  color: #0B3954;
  padding: 5px;
} 
#bottom-left-card i{
  background-color: #0B3954;
  color: #ffffff;
  transition: 0.2s;
  border-radius: 15%;
  padding: 5px;
}

/* bottom right card */
#bottom-right-card {
  height:inherit;
  transition: 0.2s;
  outline: 2px solid #2c2c2c;
  outline-offset: -1px;
}
#bottom-right-card:hover {
  background-color: #E0FF4F;
}
#bottom-right-card:hover i {
  background-color: #2c2c2c;
  color: #E0FF4F;
  padding: 5px;
} 
#bottom-right-card i{
  background-color: #E0FF4F;
  transition: 0.2s;
  border-radius: 15%;
  padding:5px;
}

.info-card {
min-height: 100%;
padding: 10px;
margin: auto;
}

.info-card-i {
  font-size: 1.5em;
  padding: 4px;
  background-color: #bebebe;
  background-clip: border-box;
}

/*--------------------Pricing Section ---------------------*/

#pricing {
  display: block;
  padding-bottom: 75px;
  position: relative;
  /* Background image gradient code below taken from https://stackoverflow.com/a/25816846 */
  background-image:
  /* top, transparent colour*/
  linear-gradient( #ffffffbe ,#ffffff5d ),
  /* your image */
  url("../Media/weight-plate-background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#pricing-header {
  text-decoration: underline 14px  #E0FF4F;
  padding-top: 30px;
  color:#0B3954;
  font-size: 4em;
  font-weight: 500;
  font-stretch: expanded;
  text-shadow: none;
  text-align: center;
  font-style: oblique;
  text-transform: uppercase;
}

#pricing-header-div p {
  padding:30px;
}

.price-list-card {
  padding: 0;
  list-style: none;
}

.pricing-card {
  display: inline-block;
  margin: 30px;
  margin-bottom: 50px;
  align-content: center;
  height: 450px;
  width: 25%;
  background-color: #ffffff;
  color: #0B3954;
  border: #0B3954 1px solid;
}

.pricing-card-body {
  height: 400px;
  position: relative;
  display: block;
  clear: both;
}

.pricing-card li {
  border-bottom: #0B3954 1px solid;
  margin: 10px;
  clear: both;
}

.pricing-card-header {
  background-color: #E0FF4F;
  padding: 20px;
}

  .price-button-div{
    justify-content: flex-end;
  }

  .price-button-div button {
  display: block;
  height: 50px;
  width: 150px;
  left: calc(50% - 75px);
  bottom: 30px;
  position:absolute;
  color: #0B3954;
  border:#0B3954 solid 5px;
  padding: 5px;
  font-size: 1.1em;
  font-weight: 500;
  font-style: oblique;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
}

.pricing-card-body button:hover {
  color:#FF6663;
  border:#ff6663 solid 5px;
}

/*-------------------- Gallery Section ---------------------*/

.gallery-image {
  width: 97%;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  filter: grayscale(50%) sepia(10%);
}

#gallery-container {
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 20px;
  background-color: #2c2c2c;
}

#gallery-heading{
  text-decoration: underline 14px  #E0FF4F;
  font-size: 4em;
  transform: skewX(-10deg);
  margin-bottom: 75px;
  text-align: center;
  filter: none;
}

  /*--------------------- Contact and location --------------------- */

  #contact-us {
    text-align: center;
    align-items: center;
  }

  #contact-us {
    background-color:#ffffff;
  }

  .contact-container p {
    display: inline;
    padding: 10px;
    font-weight: 500;
  }
  .contact-container i {
    display: inline;
    color: #FF6663; 
  }

  .contact-container h2 {
    text-decoration: underline 14px  #E0FF4F;
    text-underline-offset: 0.1em;
    font-size: 4em;
    transform: skewX(-10deg);
    text-align: center;
  }

  .opening-hours{
    margin-bottom: 30px;
  }

  .opening-hours p {
    display: inline;
    padding: 10px;
    font-weight: 500;
  }
  .opening-hours i {
    display: inline;
    color: #FF6663; 
  }

  .opening-hours h3 {
    text-decoration: underline 7px  #E0FF4F;
    text-underline-offset: 0.2em;
    font-size: 2em;
    transform: skewX(-10deg);
    text-align: center;
  }


  /*--------------------- 
  Map CSS code taken from https://mdbootstrap.com/docs/b4/jquery/javascript/google-maps/                      
  --------------------- */
  #map-column{
    height: inherit;
    display: initial;
  }

  #map-container-google {
    display: flex;
  }

  .map-container iframe{
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 600px;
    height:100%;
    width:100%;
    position:relative;
    /* filter code below taken from https://www.sean-lloyd.com/post/applying-css-filters-iframe/ */
    filter: invert(95%);
  }

  /*--------------------- footer --------------------- */
#footer {
  margin: 0;
  background-color: #2c2c2c;
  color: white;
  width: 100%;
  align-items: center;
}

#footer:first-of-type div > p {
  margin-top: 55px;
}

#social-links {
  height: 150px;
  line-height: 150px;
  background-color:#2c2c2c;
  padding: 20px;
}

.social-links i {
  font-size: x-large;
  color: #E0FF4F;
  padding: 20px 10px;
  padding-bottom: 0;
  align-items: center;
  text-align: center;
}

