* {
    padding: 0;
    margin: 0;
    border: 0;
    color: black;
}

#header {
    margin-top: 20px;
    height: 150px;
    text-align: center;
    line-height: 100px;
}

#header-logo {
    text-align: left;
    font-size: 3em;
}

#header-name {
    text-align: center;
}

.nav-links {
    text-decoration: none;
    color: black;
    text-decoration-style: none;
    display: inline;
    float: right;
}

.nav-item {
    text-decoration: none;
    color: inherit;
    display: inline;
    text-decoration: none;
    text-decoration-style: none;
}

hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

/* Carousel styling by Amanda Bilderback (@abilderback) on codepen */

h1.testimonials-header {
    font-family: "Univers57-Condensed", sans-serif;
    font-size: 18pt;
    line-height: 1.1;
    text-transform: uppercase;
    font-weight: normal;
    padding: 6px;
}

#home-reviews {
    margin: 50px 6px 70px 6px;
    padding: 100px 0;
    font-family: "Univers57-Condensed", sans-serif;
    color: #5d564f;
    background: #f7f7f7;
    text-align: center;
}

#home-reviews h2 {
    font-size: 1.75rem;
    text-transform: uppercase;
}

div i {
    padding-left: 6px;
    padding-right: 6px;
}

#home-reviews p {
    font-size: 13pt;
    text-align: center;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    margin-right: 15%;
    margin-left: 15%;
}

.carousel-style {
    padding-bottom: 100px !important;
}

.carousel-item p {
    text-align: center;
    clear: both;
    max-width: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

#carousel-inner div {
    padding-bottom: 50px !important;
    clear: both;
    margin-top: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.review-body {
    text-align: center;
    padding-top: 20px;
    margin-left: 75px;
    margin-right: 75px;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}